* {
    background-image: url('orkle-bg.png');
}

#title {
    font-family: AlphaWood, Arial, Helvetica;
    font-size: 72px;
    text-align: center;
}

#header {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
}


a:link{text-decoration: none;}